<?xml version="1.0" encoding="UTF-8"?>
	<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
			xmlns:android="http://schemas.android.com/apk/res/android"
			id="com.v.c"
			version="0.0.1">

	  <name>VideoCompressorPlugin</name>

	  <description>
		VideoCompressorrApp Plugin 
	  </description>

	  <license>ASM</license>

	  <engines>
		<engine name="cordova" version=">=3.0.0"/>
	  </engines>

	  <js-module src="www/videoCompressor.js" name="videoCompressor">
		<clobbers target="window.plugins.VideoCompressor" />
	  </js-module>

	 
	  <!-- android -->
	  <platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
		  <feature name="VideoCompressor">
			<param name="android-package" value="com.v.c.VideoCompressor" />
		  </feature>
		</config-file>
			<!-- source Files -->
		<source-file src="src/android/com/v/c/VideoCompressor.java" target-dir="src/com/v/c"/>
		 <source-file src="src/android/com/examples/ffmpeg4android/Main.java" target-dir="src/com/examples/ffmpeg4android"/>
		 <source-file src="src/android/com/examples/ffmpeg4android/ProgressBarExample.java" target-dir="src/com/examples/ffmpeg4android"/>
		 <source-file src="src/android/com/examples/ffmpeg4android/ProgressBarWithNotificationExample.java" target-dir="src/com/examples/ffmpeg4android"/>
		 <source-file src="src/android/com/examples/ffmpeg4android/SimpleExample.java" target-dir="src/com/examples/ffmpeg4android"/>
		 
		 <source-file src="src/android/com/netcompss/ffmpeg4android/GeneralUtils.java" target-dir="src/com/netcompss/ffmpeg4android"/>
		 <source-file src="src/android/com/netcompss/ffmpeg4android/LicenseCheckJNI.java" target-dir="src/com/netcompss/ffmpeg4android"/>
		 <source-file src="src/android/com/netcompss/ffmpeg4android/Prefs.java" target-dir="src/com/netcompss/ffmpeg4android"/>
		 <source-file src="src/android/com/netcompss/ffmpeg4android/ProgressCalculator.java" target-dir="src/com/netcompss/ffmpeg4android"/>
		 
		 <source-file src="src/android/com/netcompss/loader/LoadJNI.java" target-dir="src/com/netcompss/loader"/>
		 <!-- Layout Files -->
		 <source-file src="layout/ffmpeg_demo_client" target-dir="res/layout"/>
		 <source-file src="layout/ffmpeg_demo_client_1" target-dir="res/layout"/>
		 <source-file src="layout/ffmpeg_demo_client_2" target-dir="res/layout"/>
		 <source-file src="layout/ffmpeg_demo_client_3" target-dir="res/layout"/>
		 <source-file src="layout/main" target-dir="res/layout"/>  
		 
		  <!-- Values Files -->
		   <source-file src="values/styles.xml" target-dir="values"/>  
		   <config-file target="res/values/strings.xml" parent="resources">
		   <string name="welcome">FFmpeg4Android remote service Management</string>
    		<string name="email">android@netcompss.com</string>
			<string name="full_app_name">FFmpeg4Android Demo</string>
			<string name="welcome_demo">FFmpeg4Android Demo shows how easy it is for every application to run FFMpeg commands.</string>
			<string name="welcome_1">Simple example using a AsyncTask without progress bar.\n
    When using this technique, you will not be able to stop the operation while its running.</string>
			<string name="welcome_2">Simple progress bar example with stop support (you can cancel the transcoding when its running).</string>
			<string name="welcome_3">Progress bar with notification example (and stop / cancel support).\n
    The notification will work only on Android 4 or above.\n
    To support notifications on older versions, use the Android support library</string>
			<string name="commandTextView">This command will rotate /sdcard/videokit/in.mp4 90 degrees, and create /sdcard/videokit/out.mp4:</string>
			<string name="commandText">ffmpeg -y -i /sdcard/videokit/in.mp4 -strict experimental -vf transpose=1 -s 160x120 -r 30 -aspect 4:3 -ab 48000 -ac 2 -ar 22050 -b 2097k /sdcard/videokit/out.mp4</string>
		   </config-file>
		 <config-file target="AndroidManifest.xml" parent="/manifest">
				
				<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
				<uses-permission android:name="android.permission.WAKE_LOCK" /> 
				
		<activity android:name="com.v.c.VideoCompressor" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            	  android:windowSoftInputMode="stateHidden"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                </intent-filter>
        </activity>
        
       <activity android:name="com.examples.ffmpeg4android.SimpleExample" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                  android:windowSoftInputMode="stateHidden"
                  android:label="Simple Example">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
             </intent-filter>
        </activity>
        
         <activity android:name="com.examples.ffmpeg4android.Main" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                  android:windowSoftInputMode="stateHidden"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
             </intent-filter>
        </activity>
		
       <activity android:name="com.examples.ffmpeg4android.ProgressBarExample" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                  android:windowSoftInputMode="stateHidden"
                  android:label="ProgressBar Example">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
             </intent-filter>
        </activity>
   
   		<activity android:name="com.examples.ffmpeg4android.ProgressBarWithNotificationExample" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                  android:windowSoftInputMode="stateHidden"
                  android:label="ProgressBar and Notification">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
             </intent-filter>
        </activity>

        
        
			</config-file>
	
			

	  <source-file src="libs/armeabi-v7a/liblicense-jni.so" target-dir="libs/armeabi-v7a" framework="true"/>
	  <source-file src="libs/armeabi-v7a/libloader-jni.so" target-dir="libs/armeabi-v7a" framework="true"/>
	  <source-file src="libs/armeabi-v7a/libvideokit.so" target-dir="libs/armeabi-v7a" framework="true"/>
	  <source-file src="libs/armeabi-v7a/libvideokit.so.small" target-dir="libs/armeabi-v7a" framework="true"/>
	  <source-file src="libs/android-support-v4.jar" target-dir="libs" framework="true"/>

	  </platform>

	</plugin>
