<?xml version="1.0" encoding="UTF-8"?>
	<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
			xmlns:android="http://schemas.android.com/apk/res/android"
			id="com.v.c"
			version="0.0.1">

	  <name>VideoCompressorPlugin</name>

	  <description>
		VideoCompressorrApp Plugin 
	  </description>

	  <license>ASM</license>

	  <engines>
		<engine name="cordova" version=">=3.0.0"/>
	  </engines>

	  <js-module src="www/videoCompressor.js" name="videoCompressor">
		<clobbers target="window.plugins.VideoCompressor" />
	  </js-module>

	 
	  <!-- android -->
	  <platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
		  <feature name="VideoCompressor">
			<param name="android-package" value="com.v.c.VideoCompressor" />
		  </feature>
		</config-file>

		<source-file src="src/android/com/v/c/VideoCompressor.java" target-dir="src/com/v/c"/>
		 <source-file src="src/android/example/DemoClient.java" target-dir="src/example"/>
		 <source-file src="src/android/netcompss/ffmpeg4android/FFMpegRemoteServiceBridgeCompression.java" target-dir="src/netcompss/ffmpeg4android"/>
		 <source-file src="src/android/netcompss/ffmpeg4android/LicenseCheckJNI.java" target-dir="src/netcompss/ffmpeg4android"/>
		 <source-file src="src/android/netcompss/ffmpeg4android/MainAct.java" target-dir="src/netcompss/ffmpeg4android"/>
		 <source-file src="src/android/netcompss/ffmpeg4android/ProgressBackgroundRemote.java" target-dir="src/netcompss/ffmpeg4android"/>
		 <source-file src="src/android/netcompss/ffmpeg4android/IFfmpgefRemoteServiceBridge.aidl" target-dir="src/netcompss/ffmpeg4android"/>
		 
		 <source-file src="src/android/netcompss/ffmpeg4android_client/Base.java" target-dir="src/netcompss/ffmpeg4android_client"/>
		 <source-file src="src/android/netcompss/ffmpeg4android_client/BaseWizard.java" target-dir="src/netcompss/ffmpeg4android_client"/>
		 <source-file src="src/android/netcompss/ffmpeg4android_client/CopyFileBackground.java" target-dir="src/netcompss/ffmpeg4android_client"/>
		 <source-file src="src/android/netcompss/ffmpeg4android_client/FileUtils.java" target-dir="src/netcompss/ffmpeg4android_client"/>
		 <source-file src="src/android/netcompss/ffmpeg4android_client/Prefs.java" target-dir="src/netcompss/ffmpeg4android_client"/>
		 <source-file src="src/android/netcompss/ffmpeg4android_client/ShowFileAct.java" target-dir="src/netcompss/ffmpeg4android_client"/>
		 <source-file src="src/android/netcompss/ffmpeg4android_client/SymLink.java" target-dir="src/netcompss/ffmpeg4android_client"/>
		 <source-file src="src/android/netcompss/ffmpeg4android_client/TranscodeBackground.java" target-dir="src/netcompss/ffmpeg4android_client"/>
		 
		 <source-file src="src/android/netcompss/loader/LoadJNI.java" target-dir="src/netcompss/loader"/>
		 
		 <source-file src="src/android/netcompss/videokit/Videokit.java" target-dir="src/netcompss/videokit"/>
		 
		 <config-file target="AndroidManifest.xml" parent="/manifest">
				
				<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
				<uses-permission android:name="android.permission.WAKE_LOCK" /> 
				 <activity android:name="com.v.c.VideoCompressor" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            	  android:windowSoftInputMode="stateHidden"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
             </intent-filter>
        </activity>
        
       <activity android:name="com.netcompss.ffmpeg4android.MainAct"
                  android:label="@string/app_name">
            
        </activity>
        
        
        <activity android:name="com.example.DemoClient" 
                  android:windowSoftInputMode="stateHidden"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
             </intent-filter>
        </activity>
        
        
         <activity android:name="com.netcompss.ffmpeg4android_client.ShowFileAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
             </intent-filter>
        </activity>
   
   
        
        <service android:name="com.netcompss.ffmpeg4android.FFMpegRemoteServiceBridgeCompression" 
        		 android:process=":remote"
        		 android:exported="true">
               <intent-filter><action android:name="com.netcompss.ffmpeg4android.FFMpegRemoteServiceBridge"></action></intent-filter> 
        </service>
			</config-file>
	
			

	  <source-file src="libs/armeabi-v7a/liblicense-jni.so" target-dir="libs/armeabi-v7a" framework="true"/>
	  <source-file src="libs/armeabi-v7a/libloader-jni.so" target-dir="libs/armeabi-v7a" framework="true"/>
		<source-file src="libs/armeabi-v7a/libvideokit.so" target-dir="libs/armeabi-v7a" framework="true"/>
		<source-file src="libs/android-support-v4.jar" target-dir="libs" framework="true"/>

	  </platform>

	</plugin>
